.footer{
    margin-top: 15px;
    background-color: rgb(189, 186, 186);
}
.Paragraphs{
  color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
mat-icon{
    color: darkred;
    font-size: 17px;
}
