
<div class = "spiner">
  <h2 class="example-h2">Result</h2>

  <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
</mat-progress-spinner>

<div class = "links">

          <button mat-raised-button color="primary"><mat-icon>phone</mat-icon></button>

          <button mat-raised-button color="primary"><mat-icon>home</mat-icon></button>

          <button mat-raised-button color="primary"><mat-icon>share</mat-icon></button>

          <button mat-raised-button color="primary"><mat-icon>map</mat-icon></button>

  </div>




</div>

