<div class="checkbox">

  <div class = "checkboX">
      <div>
          <h3>Ckeckbox</h3>
      </div>

      <div class="items">

          <mat-checkbox color='warn' [(ngModel)]="checked">Default</mat-checkbox>
          <mat-checkbox  color='warn' disabled="false" [(ngModel)]="disabled">Disabled</mat-checkbox>
          <mat-checkbox color='warn'  [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
          <mat-checkbox  color='warn' class = "check"  [(ngModel)]="custom">Custom</mat-checkbox>

      </div>

  </div>
</div>
